:root {
  --main-background: rgb(15, 16, 19);
  --header-background: rgb(20, 24, 27);
  --color-blue: rgb(10, 102, 210);
  --color-white: rgb(255, 255, 255);
  --font-family: Arial, Helvetica, sans-serif;
}
