@import "./reset";
@import "./root";

.container {
  padding: 0 16px;
}

.wrapper {
  background-color: var(--main-background);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 24px 0;
}

.form-block {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.input {
  background-color: var(--header-background);
  color: var(--color-white);
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
}

.error {
  color: var(--color-red);
  font-size: 15px;
}
